button:focus {
  background: pink;
}

nav {
  height: 50px;
  background-color: #00baba33;
}

.ProductCard {
  display: flex;
  flex-direction: column;
}

.ScreenContainer{
  height: 100vh;
}

.MainScreen {
  display: flex;
  height: 94.4%;
  position: relative;
}

.ReceiptForm {
  border-left: 10px solid #00baba55;
  width: 30%;
}

.Products {
  width: 70%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ProductPanel {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.ProductCard {
  background: none;
  border: none;
  cursor: pointer;
  width: 25%;
}

.ModalCover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: #11333333;
}

.ReceiptModal,
.ConfirmationModal,
.AmountPickerModal {
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: #fff;
}

.ReceiptModal {
  padding-bottom: 5px;
}

.ConfirmationModal {
  width: 30%;
}

.PrintButton {
  font-size: 26px;
  position: absolute;
  top: 65vh;
  left: 70vw;
  z-index: 10;
}
