nav{
  height: 50px;
  background-color: #00baba33;
}

.ProductCard{
  display: flex;
  flex-direction: column;
}

.MainScreen{
  display: flex;
}

.ReceiptForm{
  width: 30%;
}

.Products{
  width: 70%;
}

.ProductPanel{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.ProductCard{
  background: none;
  border: none;
  cursor: pointer;
  width: 25%;
}

.ModalCover{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: #11333333;
}

.ReceiptModal, .ConfirmationModal, .AmountPickerModal{
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: #fff;
}

.ConfirmationModal{
  width: 30%;
}

.AmountPickerModal{
  width: 40%;
}